.SearchPage {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    >h1 {
        color: white;
        animation-duration: 1.5s;
        animation-name: topage;
        margin-bottom: 20px;
        span {
            color: #e71f6f;
        }
    }

    >.searchPageList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        >span {
            color: white;
            margin-top: 10px;
            animation-duration: 1.5s;
            animation-name: topage;
        }
    }
}

@keyframes topageh1 {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}