.GameSection {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--gameO); */
    cursor: pointer;
    font-size: 40px;
}