@import url('./Pages/Page/Page.scss');

.Pages {
    width: 100%;
    color: white;
    padding: 50px 0%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu {
        margin-top: 50px;
        height: 20px;
        width: 80%;

        >ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 40px;
            width: 100%;
            justify-content: center;

            >.link {
                text-decoration: none;
                color: white;
                transition: all .3s;
                cursor: pointer;
                border: 1px solid rgba($color: #000000, $alpha: 0);
                animation-duration: 1.5s;
                animation-name: topage;

                &:hover {
                    border-bottom: 1px solid #e71f6f;
                }
            }
            >.active {
                color: #ff207c;
                font-weight: bold;
            }

            >li {
                transition: all .3s;
                cursor: pointer;
                border: 1px solid rgba($color: #000000, $alpha: 0);

                &:hover {
                    border-bottom: 1px solid #ff207c;
                }
            }
        }
    }
}


@keyframes topage {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
