@import url('./Application/Styles/index.scss');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    // user-select: none;
}

.App {
    width: 100%;


    .fon {
        width: 100%;
        height: 100vh;
        background-size: cover;
        position: fixed;
        background-image:
            linear-gradient(to top, rgba(26, 0, 10, .8), rgba(0, 0, 0, .8)),
            url("./Images/3653562.webp");
        z-index: 1;
        font-size: 50;
        color: white;
        transition: all 1s ease-in-out;
        animation-name: fonAnimFon;
        animation-duration: 2s;
    }

    >.wrapper {
        width: 100%;
        height: 500px;
        z-index: 10;
        position: relative;

        .Application {
            width: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: black;
    opacity: .5;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: #e71f6f;
    // border-radius: 5px;
}

@keyframes toPage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fonAnimFon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}